@page "/verse"
@inject VerseService verseservice
@rendermode InteractiveServer

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
	<MudPaper Class="pa-4">
		@if (verseservice.verse != null)
		{
			<h6>Verse.json</h6>
		}

		<h3>Verse</h3>

		@if (!string.IsNullOrWhiteSpace(message))
		{
			<MudAlert Severity="Severity.Error" Elevation="2" Class="mt-2">
				@message
			</MudAlert>
		}
	</MudPaper>
</MudContainer>


@code {
	private string message = string.Empty;

	private async Task GetVerse(string book, string chapter, string verses, string translation)
	{
		try
		{
			
		}
		catch (Exception ex)
		{
			message = ex.Message;
		}
	}
}
