@rendermode InteractiveServer
@layout NoNavLayout
@inject UserService userservice
@inject NavigationManager nav


@if (!loaded)
{

    <MudStack Class="d-flex flex-wrap align-content-start flex-grow-1" MaxWidth="MaxWidth.Large">
        <MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.Small">
            <MudPaper Class="pa-4">
                <h6>Loading...</h6>
            </MudPaper>
        </MudContainer>
    </MudStack>
}
else if (!string.IsNullOrWhiteSpace(message))
{
    <MudStack Class="d-flex flex-wrap align-content-start flex-grow-1" MaxWidth="MaxWidth.Large">
        <MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.Small">
            <MudPaper Class="pa-4">
                <MudAlert Severity="Severity.Error" Elevation="2" Class="mt-2">
                    Error loading data from the database.<br /><br />
                    @message
                </MudAlert>
                <MudButton OnClick="Reload" Variant="Variant.Outlined" Color="Color.Primary" Class="ml-auto mt-3">Reload</MudButton>
            </MudPaper>
        </MudContainer>
    </MudStack>
}
else
{
    nav.NavigateTo("/home");
}

@code {
    private string message = string.Empty;
    private bool loaded;
    private bool ableToLoadData;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            loaded = false;
            userservice.users = new List<UserModel>();
            try
            {
                await userservice.GetAllUsersDBAsync();
                loaded = true;
                ableToLoadData = true;
                StateHasChanged();
            }
            catch (Exception ex)
            {
                message = ex.Message;
                loaded = true;
            }
        }
    }

    private void Reload()
    {
        nav.NavigateTo("/", forceLoad: true);
    }
}
