@page "/profile"
@inject UserService userservice
@inject NavigationManager nav
@rendermode InteractiveServer

<MudStack Class="mt-16 px-8 d-flex flex-wrap align-content-start flex-grow-1" MaxWidth="MaxWidth.False">
	<h3>Profile</h3>

	@if (userservice.user != null)
	{
		<h4>@userservice.user.Username</h4>
		<h6>Verses memorized: 0</h6>
		<h6>Friends: @userservice.users.Count()</h6>
		<MudButton onclick="FriendsList" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Your Friends</MudButton>

		// @if (this is your profile)
		<MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Account Settings</MudButton>
	}
	else
	{
		<p>Please login to see your profile information.</p>
	}
</MudStack>

@code {
	private void FriendsList()
	{
		nav.NavigateTo("/friendslist");
	}

	private void Login()
	{
		nav.NavigateTo("/login", forceLoad: true);
	}

	private void Logout()
	{
		userservice.user = null;
		nav.NavigateTo("/profile", forceLoad: true);
	}
}