@page "/resetpassword"
@inject UserService userservice
@inject VerseService verseservice
@inject NavigationManager nav
@rendermode InteractiveServer
@namespace VerseApp.Components.Pages
@layout NoNavLayout


@if (loading)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
}


<MudStack Class="mt-16 px-8 d-flex flex-wrap align-content-start flex-grow-1" MaxWidth="MaxWidth.False">
    @if (!string.IsNullOrWhiteSpace(errorMessage))
    {
        <MudStack Class="d-flex flex-wrap align-content-start flex-grow-1" MaxWidth="MaxWidth.Large">
            <MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.Small">
                <MudPaper Class="pa-4">
                    <MudAlert Severity="Severity.Error" Elevation="2" Class="mt-2">
                        Error loading data from the database.<br /><br />
                        @errorMessage
                    </MudAlert>
                </MudPaper>
            </MudContainer>
        </MudStack>
    }
    else
    {
        if (validToken)
        {
            if (!passwordIsReset)
            {
                <h3>Create a new password:</h3>
                <MudTextField @bind-Value="password" MaxLength="20" T="string" Label="Enter your password"
                InputType="InputType.Password"
                Required="true"
                Immediate="true" />
                <MudTextField T="string"
                Immediate="true"
                @bind-Value="repeatPassword" MaxLength="20" Label="Re-enter your password" InputType="InputType.Password" />
                @if (!string.IsNullOrEmpty(message))
                {
                    <MudAlert Severity="Severity.Error" Elevation="2" Class="mt-2">
                        @message
                    </MudAlert>
                }
                <MudButton OnClick="SubmitNewPassword" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Reset Password</MudButton>
            }
            else
            {
                <h5>Return to the original tab and sign in with your new password.</h5>
            }
        }
        else
        {
            <p>Invalid or expired token.</p>
        }
    }
</MudStack>

@code{
}